* {
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #E7E7E7
}
header {
    background-color: #B0B0B0;
    padding: 60px;
    text-align: center;
    margin-bottom: 10px ;
}
header h1 {
    color: white;
}
nav {
    background-color: #5D5D5D;
    padding: 20px;
    text-align: center;
}

nav a {
    padding-right: 40px;
    text-decoration: none;
    color: white;
}
main {
    background-color: white;
}
main h2 {
    padding: 20px;
}
main p {
    padding: 20px;
}
footer {
    background-color: #5D5D5D;
    text-align: center;
    padding: 20px;
}
footer p {
    color: white;
}
